[Unit]
Description=SSD1306 Display Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ssd_1306_display
Restart=always
User=root

[Install]
WantedBy=multi-user.target
